#main {
  max-width: 100%;
  background: #FFF9C4;
  color: #1A237E;
  font-family: Lora, serif;
  }
#image {
width: 100%;
height: auto;
max-width: 625px;
margin-left: auto;
margin-right: auto;
display: block;
}

#imagi {
  width: 100%;
  height: auto;
max-width: 2000px;
margin-left: auto;
margin-right: auto;
}

#list {
  color: #212121;
  font-family: Lora, serif;
  font-size: 20px;
}

footer {
	background: linear-gradient(65deg, #CCFFFF, #FFCCCC);
}
